<% for (var i = (blogpostPost.length - 1); i >= 0; i--) { %>
    <div class="blog-post horizontal">

        <!-- <img src="<%= postImage[i] %>" alt="<%= homeContent.title %>"> -->
        <div class="blog-post-image-cover">
            <img src="./uploads/<%= postImage[i] %>" class="blog-post-image" alt="New uploaded image">
        </div>

        <div class="blog-post-content">
            <div class="blog-post-header-and-body-wrap">
                <div class="blog-post-header">
                    <h3 class="blog-post-title"><%= blogpostTitle[i] %></h3>
                    <div class="blog-post-id">
                        <span>ID <span class="blog-post-id-text">BZG<%= blogpostID[i] %></span></span>
                    </div>
                </div>
                <div class="blog-post-body">
                    <p><%= blogpostPost[i] %></p>
                </div>
            </div>
            <div class="blog-post-footer-wrap">
                <div class="blog-post-footer">
                    <p class="author">
                        <span class="by">By</span> 
                        <% if (blogpostAuthor[i] === "" ) { %> 
                            <span class="anonymous-author">Anonymous</span>
                        <% } else if (authorContactLink[i] !== "") { %> 
                            <a href="<%= authorContactLink[i] %>" target="_blank" rel="noopener noreferrer" class="author-link"><%= blogpostAuthor[i] %></a>
                        <% } else { %>                  
                            <span class="nolink-author"><%= blogpostAuthor[i] %></span>
                        <% } %>
                    </p>
                    <p class="date">
                        <% if (blogpostDate[i] === "" ) { %> 
                            <span class="not-available">N/A</span>
                        <% } else { %>
                            <%= blogpostDate[i] %>
                        <% } %>
                    </p>
                </div>
            </div>

        </div>
    </div>
<% } %>
