<div id="carouselExampleIndicators" class="carousel slide blog-carousel" data-bs-ride="carousel" data-bs-interval="3000"> 
<!-- <div id="carouselExampleIndicators" class="carousel slide" style="margin: 32px 0 40px;">  -->
        <!-- <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div> -->
    <div class="carousel-inner">

        <div class="carousel-item active">
            <div class="blog-post popular-first">
                <img src="blogs/<%= blogposts[0].hero %>" class="blog-post-image" alt="Blog post image">
                <div class="blog-post-content">
                    <div class="blog-post-header">
                        <h3 class="blog-post-title"><%= blogposts[0].title %></h3>
                    </div>
                    <div class="blog-post-body">
                        <p><%= blogposts[0].overview %></p>
                    </div>
                    <div class="blog-post-footer">
                        <p class="author">
                            <span class="by">By</span><a href="<%= blogposts[0].author.externalLink %>" class="author-link"><%= blogposts[0].author.name %></a>
                        </p>
                        <p class="date"><%= blogposts[0].time %></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="blog-post popular-first">
                <img src="blogs/<%= blogposts[1].hero %>" class="blog-post-image" alt="Blog post image">
                <div class="blog-post-content">
                    <div class="blog-post-header">
                        <h3 class="blog-post-title"><%= blogposts[1].title %></h3>
                    </div>
                    <div class="blog-post-body">
                        <p><%= blogposts[1].overview %></p>
                    </div>
                    <div class="blog-post-footer">
                        <p class="author">
                            <span class="by">By</span><a href="<%= blogposts[1].author.externalLink %>" class="author-link"><%= blogposts[1].author.name %></a>
                        </p>
                        <p class="date"><%= blogposts[1].time %></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="blog-post popular-first">
                <img src="blogs/<%= blogposts[2].hero %>" class="blog-post-image" alt="Blog post image">
                <div class="blog-post-content">
                    <div class="blog-post-header">
                        <h3 class="blog-post-title"><%= blogposts[2].title %></h3>
                    </div>
                    <div class="blog-post-body">
                        <p><%= blogposts[2].overview %></p>
                    </div>
                    <div class="blog-post-footer">
                        <p class="author">
                            <span class="by">By</span><a href="<%= blogposts[2].author.externalLink %>" class="author-link"><%= blogposts[2].author.name %></a>
                        </p>
                        <p class="date"><%= blogposts[2].time %></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="blog-post popular-first">
                <img src="blogs/<%= blogposts[6].hero %>" class="blog-post-image" alt="Blog post image">
                <div class="blog-post-content">
                    <div class="blog-post-header">
                        <h3 class="blog-post-title"><%= blogposts[6].title %></h3>
                    </div>
                    <div class="blog-post-body">
                        <p><%= blogposts[6].overview %></p>
                    </div>
                    <div class="blog-post-footer">
                        <p class="author">
                            <span class="by">By</span><a href="<%= blogposts[6].author.externalLink %>" class="author-link"><%= blogposts[6].author.name %></a>
                        </p>
                        <p class="date"><%= blogposts[6].time %></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="blog-post popular-first">
                <img src="blogs/<%= blogposts[7].hero %>" class="blog-post-image" alt="Blog post image">
                <div class="blog-post-content">
                    <div class="blog-post-header">
                        <h3 class="blog-post-title"><%= blogposts[7].title %></h3>
                    </div>
                    <div class="blog-post-body">
                        <p><%= blogposts[7].overview %></p>
                    </div>
                    <div class="blog-post-footer">
                        <p class="author">
                            <span class="by">By</span><a href="<%= blogposts[7].author.externalLink %>" class="author-link"><%= blogposts[7].author.name %></a>
                        </p>
                        <p class="date"><%= blogposts[7].time %></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>