<% for (var i = (userposts.length - 1); i >= 0; i--) { %>

    <!-- <a href="/myblog/<%= userposts[i].title %>"> -->

    <div class="blog-post horizontal">

        <div class="blog-post-image-cover">
            <img src="./uploads/<%= userposts[i].image %>" class="blog-post-image" alt="New uploaded image">
        </div>

        <div class="blog-post-content">
            <div class="blog-post-header-and-body-wrap">
                <div class="blog-post-header">
                    <h3 class="blog-post-title"><%= userposts[i].title %></h3>
                </div>
                <div class="blog-post-body">
                    <p><%= userposts[i].overview %><a href="/myblog/<%= userposts[i].title %>" class="blog-post-read-more">Read more</a></p>
                </div>
            </div>
            <div class="blog-post-footer-wrap">
                <div class="blog-post-footer">
                    <p class="author">
                        <span class="by">By</span> 
                        <% if (userposts[i].author === "" ) { %> 
                            <span class="anonymous-author">Anonymous</span>
                        <% } else if (userposts[i].authorLink !== "") { %> 
                            <a href="<%= userposts[i].authorLink %>" target="_blank" rel="noopener noreferrer" class="author-link"><%= userposts[i].author %></a>
                        <% } else { %>                  
                            <span class="nolink-author"><%= userposts[i].author %></span>
                        <% } %>
                    </p>
                    <div class="date-and-blogpost-id">
                        <p class="date">
                            <% if (userposts[i].dateTime === "") { %> 
                                <span class="not-available">N/A</span>
                            <% } else { %>
                                <%= userposts[i].dateTime %>
                            <% } %>
                        </p>
                        <p class="blog-post-id">, 
                            <span>Post ID<span class="blog-post-id-text"><%= userposts[i].id %></span></span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- </a> -->

<% } %>
