<%- include("partials/header.ejs"); %>

<div class="page-header">
    <h1 class="page-header-title">Blog About Anything</h1>
</div>

<!-- /* ===========* ðŸ±ðŸ’›( MY BLOG POSTS )ðŸ’›ðŸ± *=========== */ -->
<% if (blogpostPost.length === 0) { %>
    <div class="blog-category">

        <div class="blog-category-header">
            <h2 class="category-title">My Blog</h1>
            <a href="/new-blog">
                <button class="secondary-button">New Blogpost</button>
            </a>
        </div>

        <div class="blog-post-list">
            <div class="blog-post empty-blog">
                <!-- <img src="images/ablazelilith.webp" class="ablaze-emptyjournals-icon" alt="Ablaze Lilith"> -->
                <div class="empty-blog-notice">
                    <div class="empty-blog-notice-content">
                        <h3 class="blog-post-title"><%= homeContent.title %></h3>
                        <p class="empty-blog-notice-message"><%= homeContent.content %></p>
                        <a href="/new-blog">
                            <button type="submit" class="main-button">Start My Blog</button>
                            <!-- <button type="submit" class="main-button">New Post &nbsp;<i class="fa-solid fa-feather-pointed"></i></button> -->
                        </a>
                    </div>
                </div>
                <img src="images/ablazelilith.webp" class="ablaze-emptyjournals-icon" alt="Ablaze Lilith">
            </div>
        </div>

    </div>
<% } %>

<!-- /* ===========* ðŸ¦ŠðŸ§¡( WORLD'S POPULAR BLOGS )ðŸ§¡ðŸ¦Š *=========== */ -->

<div class="blog-category popular">

    <div class="blog-category-header">
        <h2 class="category-title">Featured Blogs</h1>
        <a href="/all-blogs">
            <button class="secondary-button">Discover More</button>
        </a>
    </div>
    

    <div class="blog-post popular-first">
        <img src="<%= popularBlogPost[0].thumbnail %>" class="blog-post-img" alt="Blog post image">
        <h3 class="blog-post-title"><%= popularBlogPost[0].title %></h3>
        <p><%= popularBlogPost[0].intro %></p>
        <!-- <p><%= popularBlogPost[1].content %></p> -->
        <div class="blog-post-footer">
            <p class="author">By<a href="<%= popularBlogPost[0].author.externalLink %>"><%= popularBlogPost[0].author.name %></a></p>
            <p class="date"><%= popularBlogPost[0].time %></p>
        </div>
    </div>

    <div class="blog-post-group-two-colomn">

        <div class="blog-post">
            <img src="<%= popularBlogPost[1].thumbnail %>" class="blog-post-img" alt="Blog post image">
            <h3 class="blog-post-title"><%= popularBlogPost[1].title %></h3>
            <p><%= popularBlogPost[1].intro %></p>
            <!-- <p><%= popularBlogPost[1].content %></p> -->
            <div class="blog-post-footer">
                <p class="author">By<a href="<%= popularBlogPost[1].author.externalLink %>"><%= popularBlogPost[1].author.name %></a></p>
                <p class="date"><%= popularBlogPost[1].time %></p>
            </div>
        </div>

        <div class="blog-post">
            <img src="<%= popularBlogPost[2].thumbnail %>" class="blog-post-img" alt="Blog post image">
            <h3 class="blog-post-title"><%= popularBlogPost[2].title %></h3>
            <p><%= popularBlogPost[2].intro %></p>
            <!-- <p><%= popularBlogPost[2].content %></p> -->
            <div class="blog-post-footer">
                <p class="author">By<a href="<%= popularBlogPost[2].author.externalLink %>"><%= popularBlogPost[2].author.name %></a></p>
                <p class="date"><%= popularBlogPost[2].time %></p>
            </div>
        </div>

    </div>

</div>




<%- include("partials/footer.ejs"); %>