<%- include("partials/header.ejs"); %>

<div class="page-header">
    <h1 class="page-header-title">Experienceãƒ»Shareãƒ»Inspire</h1>
</div>

<!-- /* ===========* ðŸ±ðŸ’›( MY BLOG POSTS )ðŸ’›ðŸ± *=========== */ -->

<% if (blogpostPost.length === 0) { %>
<div class="blog-category first">
    <div class="blog-category-header">
        <!-- <i class="fa-solid fa-book-open"></i> -->
        <i class="fa-solid fa-fire"></i>
        <!-- <i class="fa-solid fa-book-bookmark"></i> -->
        <!-- <i class="fa-solid fa-feather-pointed"></i> -->
        <h2 class="category-title">My Blog</h1>
        <!-- <a href="/new-blog">
            <button class="secondary-button">New Blogpost</button>
        </a> -->
    </div>
    <div class="blog-post-list">
        <div class="blog-post empty-blog">
            <!-- <img src="images/ablazelilith.webp" class="ablaze-emptyjournals-icon" alt="Ablaze Lilith"> -->
            <div class="empty-blog-notice">
                <div class="empty-blog-notice-content">
                    <div class="blog-post-header">
                        <h3 class="blog-post-title"><%= homeContent.title %></h3>
                    </div>
                    <div class="blog-post-body">
                        <p class="empty-blog-notice-message"><%= homeContent.content %></p>
                    </div>
                    <div class="blog-post-footer">
                        <a href="/new-blog">
                            <button type="submit" class="main-button">Create Blog</button>
                            <!-- <button type="submit" class="main-button">New Post &nbsp;<i class="fa-solid fa-feather-pointed"></i></button> -->
                        </a>
                    </div>
                </div>
            </div>
            <img src="images/ablazelilith.webp" class="ablaze-emptyjournals-icon" alt="Ablaze Lilith">
        </div>
    </div>
</div>
<% } %>

<!-- /* ===========* ðŸ¦ŠðŸ§¡( WORLD'S POPULAR BLOGS )ðŸ§¡ðŸ¦Š *=========== */ -->

<div class="blog-category popular">

    <div class="blog-category-header">
        <i class="fa-solid fa-book-bookmark"></i>
        <!-- <i class="fa-solid fa-fire"></i> -->
        <h2 class="category-title">Featured Blogs</h1>
        <!-- <a href="/all-blogs">
            <button class="secondary-button">Discover More</button>
        </a> -->
    </div>

    <%- include("partials/blog-carousel.ejs"); %>
    

    <!-- <div class="blog-post popular-first">
        <img src="blogs/<%= featuredBlog[0].hero %>" class="blog-post-image" alt="Blog post image">
        <div class="blog-post-content">
            <div class="blog-post-header">
                <h3 class="blog-post-title"><%= featuredBlog[0].title %></h3>
            </div>
            <div class="blog-post-body">
                <p><%= featuredBlog[0].intro %></p>
            </div>
            <div class="blog-post-footer">
                <p class="author">
                    <span class="by">By</span><a href="<%= featuredBlog[0].author.externalLink %>"><%= featuredBlog[0].author.name %></a>
                </p>
                <p class="date"><%= featuredBlog[0].time %></p>
            </div>
        </div>
    </div> -->

    <div class="blog-post-group-two-colomn">

        <div class="blog-post">
            <img src="blogs/<%= featuredBlog[1].thumbnail %>" class="blog-post-image" alt="Blog post image">
            <div class="blog-post-content">
                <div class="blog-post-header-and-body-wrap">
                    <div class="blog-post-header">
                        <h3 class="blog-post-title"><%= featuredBlog[1].title %></h3>
                    </div>
                    <div class="blog-post-body">
                        <p><%= featuredBlog[1].intro %></p>
                    </div>
                </div>
                <div class="blog-post-footer-wrap">
                    <div class="blog-post-footer">
                        <p class="author">
                            <span class="by">By</span><a href="<%= featuredBlog[1].author.externalLink %>" class="author-link"><%= featuredBlog[1].author.name %></a>
                        </p>
                        <p class="date"><%= featuredBlog[1].time %></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="blog-post">
            <img src="blogs/<%= featuredBlog[2].thumbnail %>" class="blog-post-image" alt="Blog post image">
            <div class="blog-post-content">
                <div class="blog-post-header-and-body-wrap">
                    <div class="blog-post-header">
                        <h3 class="blog-post-title"><%= featuredBlog[2].title %></h3>
                    </div>
                    <div class="blog-post-body">
                        <p><%= featuredBlog[2].intro %></p>
                    </div>
                </div>
                <div class="blog-post-footer-wrap">
                    <div class="blog-post-footer">
                        <p class="author">
                            <span class="by">By</span><a href="<%= featuredBlog[2].author.externalLink %>" class="author-link"><%= featuredBlog[2].author.name %></a>
                        </p>
                        <p class="date"><%= featuredBlog[2].time %></p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="category-button">
        <a href="/featured-blogs">
            <button class="outline-button"><i class="fa-solid fa-magnifying-glass"></i>Discover Blogs</button>
        </a>
    </div>  

</div>

<!-- /* ===========* ðŸ¦‹ðŸ’™( WORLD'S POPULAR AUTHORS )ðŸ’™ðŸ¦‹ *=========== */ -->

<div class="blog-category section-author featured">

    <div class="blog-category-header">
        <!-- <i class="fa-solid fa-fire"></i> -->
        <!-- <i class="fa-solid fa-star"></i> -->
        <!-- <i class="fa-solid fa-chess-queen"></i> -->
        <i class="fa-solid fa-crown"></i>
        <h2 class="category-title">Popular Authors</h1>
    </div>

    <div class="author-list">
        <div class="author-card-list">
            <!-- <h3 class="section-title">World's Most Admired Authors</h3> -->
            <!-- <h3 class="sub-category-title">Most Admired Authors</h3> -->
            <div class="card-row">
                <%- include("authors/author-card-featured"); %>
            </div>
        </div>
    </div>

    <div class="category-button">
        <a href="/popular-authors">
            <button class="outline-button"><i class="fa-solid fa-magnifying-glass"></i>Discover Authors</button>
        </a>
    </div>  

</div>


<%- include("partials/footer.ejs"); %>