<%- include("partials/header.ejs"); %>

<div class="page-header">
    <h1 class="page-header-title">World's Blogs</h1>
</div>

<div class="blog-category mb-0">

    <div class="blog-category-header">
        <h2 class="category-title">Fascinating Stories Around the World</h1>
        <!-- <a href="/"><button class="secondary-button">Discover more</button></a> -->
    </div>

    <!-- <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel" data-bs-interval="3000"> 
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="blogs/<%= featuredBlog[0].thumbnail %>" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="blogs/<%= featuredBlog[1].thumbnail %>" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="blogs/<%= featuredBlog[2].thumbnail %>" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div> -->

    <!-- <div class="blog-post-group featured-featured-blogs">

        <%- include("partials/featured-blogs.ejs"); %>

    </div> -->
    
    <div class="blog-post-group featured-blogs">

        <%- include("partials/featured-blog-posts.ejs"); %>

    </div>

</div>




<%- include("partials/footer.ejs"); %>