<%- include("partials/header.ejs"); %>

<div class="page-header">
    <h1 class="page-header-title">World's Favorite Authors</h1>
</div>

<div class="author-list pt-0 bt-0">
    <div class="sub-category-header">
        <i class="fa-solid fa-crown platinum-author"></i>
        <h2 class="sub-category-title">Platinum Tier</h2>
    </div>
    <div class="author-card-list platinum">
        <div class="card-row">
            <%- include("authors/author-card-lg"); %>
        </div>
    </div>
</div>

<div class="author-list">
    <div class="sub-category-header">
        <i class="fa-solid fa-crown gold-author"></i>
        <h2 class="sub-category-title">Gold Tier</h2>
    </div>
    <div class="author-card-list">
        <div class="card-row">
            <%- include("authors/author-card-md"); %>
        </div>
    </div>
</div>

<div class="author-list">
    <div class="sub-category-header">
        <i class="fa-solid fa-crown silver-author"></i>
        <h2 class="sub-category-title">Silver Tier</h2>
    </div>
    <div class="author-card-list">
        <div class="card-row">
            <%- include("authors/author-card-sm"); %>
        </div>
    </div>
</div>

<!-- <div class="author-list">
    <div class="sub-category-header">
        <i class="fa-solid fa-crown bronze-author"></i>
        <h2 class="sub-category-title">Bronze Tier</h2>
    </div>
    <div class="author-card-list">
        <div class="card-row">
            <%- include("authors/author-card-xsm"); %>
        </div>
    </div>
</div> -->



<%- include("partials/footer.ejs"); %>